{% if form.non_field_errors and not only_fields %}<div class="errors" role="alert">{{ form.non_field_errors }}</div>{% endif %}
{% for field in fields|default:form %}
<div class="field">
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  {{ field }}
  {% if field.help_text %}<div id="{{ field.auto_id }}_helptext" class="hint">{{ field.help_text|safe }}</div>{% endif %}
  {% if field.errors %}<div class="errors" role="alert">{{ field.errors }}</div>{% endif %}
</div>
{% endfor %}
